<html>
  <head>
    <meta charset="utf-8">
    <title>Login - GTAMS</title>

    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 20%;">
        <div class="offset-by-three one-half column">
          <span class="u-pull-right lowlight">GTAMS</span>
          <h3>Log in</h3>
          <form method="POST">
            <div class="alert alert-error">
              <strong>Login failed!</strong> The email or password was incorrect.
            </div>
            <label for="email">Email</label>
            <input class="u-full-width input-error" type="email" id="email" />
            <label for="password">Password</label>
            <input class="u-full-width" type="password" id="password" />
            <input class="button-primary" type="submit" value="Log In" />
          </form>
        </div>
      </div>
    </div>
    <footer class="stick-bottom status-bar u-full-width">
      <small>GTAMS designed by Nicholas Lewis, Stephanie Maltese, Danny Martinez, and Montrel McCall</small>
    </footer>
  </body>
</html>
